<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  TrollStore 用最小 entitlements：不声明 platform-application（非平台二进制），
  get-task-allow 打开即可被 ad-hoc/ldid 伪签名安装。iOS 16.3 在 TrollStore 2
  支持的 15.0–16.6.1 区间内，走的是 CoreTrust 绕过，不需要任何开发者证书。
-->
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.fnassistantdog.ios</string>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.developer.team-identifier</key>
	<string>TROLL00000</string>
</dict>
</plist>
